node_modules
dist
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
**/contracts/hardhat-dependency-compiler

# Deployment files
**/deployments/chain-31337
.smart-contract-address
